<html>
#include("include/inc_header_datatable.html")
<body>
#include("include/inc_position.html")
#include("template/game/item_apply.html")
<div class="tabbable">
	<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
		<li class="active">
			<a data-toggle="tab" href="#tab_1">未审核列表</a>
		</li>
		<li>
			<a data-toggle="tab" href="#tab_2">已审核列表</a>
		</li>
	</ul>
</div>
<div class="tab-content">
	<div id="tab_1" class="tab-pane in active">
		<table class="dataTable table table-striped table-bordered" style="border-collapse: collapse;width:100%;">
			<thead>
				<tr class="table_head">
#for _,Title in pairs(Titles) do
					<th>$Title$</th>
#end	
					<th>操作</th>			
				</tr>
			</thead>
			<tbody>
#for ID,AuditInfo in ipairs(AuditingList) do
				<tr id="$AuditInfo.ID$" class="auditing_apply">
					<td>$AuditInfo[1]$</td>
					<td class="audit_platform" platformID="$AuditInfo.PlatformID$">$AuditInfo[2]$</td>
					<td class="audit_server">$AuditInfo[3]$</td>
					<td class="audit_rolenames">$AuditInfo[4]$</td>
					<td class="audit_rewards">$AuditInfo[5]$</td>
					<td class="audit_reason">$AuditInfo[6]$</td>
					<td>$AuditInfo[7]$</td>
				</tr>
#end
			</tbody>
		</table>
	</div>
	<div id="tab_2" class="tab-pane">
		<table class="dataTable table table-striped table-bordered" style="border-collapse: collapse;width:100%;">
			<thead>
				<tr class="table_head">
#for _,Title in pairs(Titles) do
					<th>$Title$</th>
#end				
					<th>审核时间</th>
					<th>审核人</th>
					<th>审核结果</th>
				</tr>
			</thead>
			<tbody>
#for ID,AuditInfo in ipairs(AuditedList) do
				<tr>
#for _,Value in ipairs(AuditInfo) do
					<td>$Value$</td>
#end
				</tr>
#end
			</tbody>
		</table>
	</div>
</div>

<script language="JavaScript">
$(document).ready(function(){
	$(".platformID").chosen({width:"100px",});
	$(".OperationType").chosen({width:"100px",});
	$(".DeductItemType").chosen({width:"100px",});
	$(".hostID").chosen({
		width:'500px',
	});
	
	$(".platformID").chosen().change(function(){
		var platformID = $(this).val();
		$.post("/servermgr/jsonserverlist",{PlatformID:platformID},function(result){
			var serverList = eval("("+result+")");
			var ServerStr = '';
			for(id in serverList){
				ServerStr += '<option value="'+id+'">'+serverList[id]+'</option>';
			}
			$(".hostID").html(ServerStr);
			$(".hostID").trigger("chosen:updated");
		});
	});
	var availableTags = [$table.concat(ItemStrList, ",")$];
	
	var oldAvailableTags = [$table.concat(OldItemStrList, ",")$];

	$(".hostID").chosen().change(function(){
		var hostID = $(this).val();
		hostID = hostID + "";
		var hostIDs = hostID.split(",");
		var platformID = $(".platformID").val();
		if(hostIDs[0] != "" && isOldVersion(platformID, parseInt(hostIDs[0]))){
			availableTags = oldAvailableTags;
			$(".item").autocomplete({source: availableTags,minLength: 2});
		}
	});

	
	//添加道具
	$(document).on('click', '.add_item', function() {
		var itemDom = $(this).parent().clone();
		//清空内容
		itemDom.find(".item").val("");
		itemDom.find(".number").val("");
		itemDom.appendTo("#addItems");
		//重新绑定一下事件
		itemDom.find(".item").autocomplete({source: availableTags,minLength: 2});
	});
	//删除道具
	$(document).on('click', '.del_item', function() {
		//剩余一个不能删除
		if($("#addItems").children().length > 1){
			$(this).parent().remove();
		} 
	});
	$(".item").autocomplete({source: availableTags,minLength: 2});
	$("#postForm").submit(function(){
		//判断是否选择了平台
		var platformID = $(".platformID").val();
		if(platformID == ""){
			alert("请选择平台！");
			return false;
		}
	});
	$('.dataTable').dataTable({
			"oLanguage":{
				"sProcessing":   "处理中...",
				"sLengthMenu":   "显示 _MENU_ 项结果",
				"sZeroRecords":  "没有匹配结果",
				"sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix":  "",
				"sSearch":       "搜索:",
				"sUrl":          "",
				"oPaginate": {
				"sFirst":    "首页",
				"sPrevious": "上一页",
				"sNext":     "下一页",
				"sLast":     "末页"
				}
			},
		"bFilter": false,
		"bLengthChange": false,
		"order": [[ 0, 'desc' ]], //按哪列排序，序号是从0开始
		"iDisplayLength": 50, //一页展示多少行
	});
	$(".auditing_apply").click(function(){
		var ID = $(this).attr("id");
		$("#ID").val(ID); //ID赋值
		var platformID = $(this).find(".audit_platform").attr("platformID");
		$(".platformID").val(platformID);
		$(".platformID").trigger("chosen:updated");
		var servers = $(this).find(".audit_server").html();
		servers = servers.split(",");
		$.post("/servermgr/jsonserverlist",{PlatformID:platformID},function(result){
			var serverList = eval("("+result+")");
			var ServerStr = '';
			for(id in serverList){
				var selectStr = "";
				for(sid in servers){
					if(serverList[id] == servers[sid]){
						selectStr = 'selected="selected"'
					}
				}
				ServerStr += '<option value="'+id+'"'+selectStr+'>'+serverList[id]+'</option>';
			}
			$(".hostID").html(ServerStr);
			$(".hostID").trigger("chosen:updated");
		});
		//赋值角色名列表和原因
		var rolenames = $(this).find(".audit_rolenames").html();
		$("#RoleNames").val(rolenames);
		var reason = $(this).find(".audit_reason").html();
		$("#Reason").val(reason);
		//道具列表
		var rewards = $(this).find(".audit_rewards").html();
		rewards = rewards.split("<br>");
		var itemStr = "";
		for(i in rewards){
			var items = rewards[i].split("=");
			if(items.length == 2){
				var itemName = items[0].substring(2,items[0].length-2);
				itemStr += generateItemStr(itemName, items[1]);
			}
		}
		if(itemStr != ""){
			$("#addItems").html(itemStr);
			//重新绑定一下事件
			$("#addItems").find(".item").autocomplete({source: availableTags,minLength: 2});
		}
	});
	$(".apply_delete").click(function(e){
		var ID = $(this).parent().parent().attr("ID");
		if(confirm("删除是不可恢复的，你确认要删除吗?")){
			$.post("/item_apply_mgr/apply_delete",{ID:ID},function(result){
				result = parseInt(result);
				if(result==1){
					$("#"+ID).remove();
				}
			});
		}
		e.stopPropagation();
	})
})

//构造道具输入框字符串
function generateItemStr(itemName, number){
	var str = '<div><label style="font-weight:normal;">道具：</label>'
			+'<input type="text" name="Item" class="item" value="' + itemName + '" placeholder="物品ID...">'
			+'<input type="text" name="Numbers" class="number" value="' + number + '" placeholder="个数...">'
			+'<img src="/static/image/plus.png" alt="增加道具" title="增加道具" class="add_item"/>'
			+'<img src="/static/image/minus_red.png" alt="删除道具" title="删除道具" class="del_item"/></div>'
	return str
}

function isOldVersion(platformID, hostID){
	var limitInfo = {
		"kuwo":62001,
		"hly":62501,
		"8090":61008,
		"53wan":61501,
		"511wan":58522,
		"7477":57003,
		"360":10014,
		"kuaiwan":51015,
		"65wan":60001,
		"pps":15002,
		"sogou":20003,
		"qidian" : 52009,
		"7k7k" : 55003,
		"v1game" : 59509,
		"swjoy" : 50015,
		"yaodou" : 53003,
		"pptv" : 54006,
		"renren" : 57510,
		"37wan" : 45010,
		"kugou" : 30001,
		"baidu" : 25020,
		"xiyou" : 59003,
		"dw" : 1025,
		"ainiwan" : 60501,
		"ufojoy" : 63001,
		"844a" : 58002,
	};
	var limit = limitInfo[platformID];
	if(limit && limit >= hostID){
		return true;  //1.0版本服
	}else{
		return false; //2.0版本服
	}
}

</script>
</body>
</html>
