<html>
#include("include/inc_position.html")
#include("include/inc_header_datatable.html")
<form class="search-box form-inline" method="post" action="/gamemgr/verify_server">
	<label>平台名称：</label>	
	<select name="PlatformID" class="chosen-select platformID" tabindex="2" data-placeholder="选择平台">
		<option value="">全部</option>
#for ID,Platform in pairs(Platforms) do
		<option value="$ID$" $Options.PlatformID and Options.PlatformID==ID and "selected" or ""$>$Platform$</option>
#end
	</select>
	<label>服名称：</label>	
	<select name="HostID" class="chosen-select hostID" tabindex="2" data-placeholder="选择服">
		<option value="">全部</option>
#for ID,ServerName in pairs(Servers) do
		<option value="$ID$" 
			$Options.HostID and ((Options.HostID==tostring(ID)) or (type(Options.HostID) == "table" and table.member_key(Options.HostID, tostring(ID)))) and "selected" or ""$>
			$ServerName$
		</option>
#end
	</select>
<div style="margin:10px 0 0 300px;">
	<input type="submit" class="submit_btn" value="提交"> 
</div>
</form>
 <script language="JavaScript">
 $(document).ready(function(){
	$(".platformID").chosen({width:"100px",});
	$(".hostID").chosen({
		width:"150px",
	});
	$(".platformID").chosen().change(function(){
		var platformID = $(this).val();
		$.post("/servermgr/jsonserverlist",{PlatformID:platformID},function(result){
			var serverList = eval("("+result+")");
			var ServerStr = '<option value="">全部</option>';
			for(id in serverList){
				ServerStr += '<option value="'+id+'">'+serverList[id]+'</option>';
			}
			$(".hostID").html(ServerStr);
			$(".hostID").trigger("chosen:updated");
		});
	});
})
</script>
#include("include/datatables.html") 
</body>
</html>
