<html>
#include("include/inc_header_v2.html")
<body>
#include("include/inc_position.html")
<div class="page-header">
<h3>修改密码</h3>
</div>
<form action="/usermgr/personal_info" method=post id="post_form">
<table class="table table-striped table-bordered table-hover" style="width:80%;">
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">账号:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="text" name="account" value="$User.account$" readonly="true">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">输旧密码:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="password" placeholder="输老密码" name="OldPassword">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">输新密码:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="password" placeholder="输新密码" name="NewPassword" id="NewPassword">
	</td>
</tr>
<tr>
	<td colspan="2" class="button content" style="text-align:center;">
		<input type="submit" class="submit_btn" name="submit" value="提交"/> 
	</td>
</tr>
</table>
</form>
</div>
<script>
	$(document).ready(function(){
		$("#post_form").submit(function(){
			var newPasswrod = $("#NewPassword").val();
			if(newPasswrod == ""){
				alert("新密码不能为空!");
				return false;
			}
			if(newPasswrod == "123456" || newPasswrod.length <= 6){
				alert("新密码过于简单！请重新设置");
				return false;
			}
		});
	})
</script>
</body>
</html>
