<html>
#include("include/inc_header_datatable.html")
<form class="search-box form-inline" method="post" action="/playermgr/dosendemail">
	<label>$Translate("平台名称")$：</label>	
	<select name="PlatformID" class="chosen-select platformID" tabindex="2" data-placeholder="$Translate('选择平台')$">
		<option value="">$Translate("全部")$</option>
#for ID,Platform in pairs(Platforms) do
		<option value="$ID$" $Options.PlatformID and Options.PlatformID==ID and "selected" or ""$>$Platform$</option>
#end
	</select>
	<label>$Translate("选择大区：")$</label>	
	<select name="ServerType">
#for ID,Value in pairs(ServerTypes) do
		<option value="$ID$">$Value$</option>
#end
	</select>
	<label>$Translate("服名称")$：</label>	
	<select name="HostIDs" class="chosen-select hostID" tabindex="2" multiple data-placeholder="$Translate('选择服')$">
		<option value="">$Translate("全部")$</option>
#for ID,ServerName in pairs(Servers) do
		<option value="$ID$" 
			$Options.HostID and ((Options.HostID==tostring(ID)) or (type(Options.HostID) == "table" and table.member_key(Options.HostID, tostring(ID)))) and "selected" or ""$>
			$ServerName$
		</option>
#end
	</select>
	<br>
	<label>$Translate("操作方式：")$</label>	
	<select name="OperationType" class="chosen-select OperationType" tabindex="2" data-placeholder="$Translate('选择操作方式')$">
#for ID,Type in pairs(OperationTypes) do
		<option value="$ID$">$Type$</option>
#end
	</select>
	<br>
	<span id="multisend" style="display:none;">
		<label>$Translate("最低等级：")$</label>
		<input type="text" name="MinLevel" value="">	
		<label>$Translate("创角时间：")$</label>
		<input type="text" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd', maxDate:'2050-12'})" name="CreateTime">
	</span>
	<span id="onlysend">
		<span style="margin-left:10px;">$Translate("玩家角色列表，用 分号(;) 来分隔多个角色名")$</span>
		<br>	
		<textarea class="span5" rows="3" cols="60" name="RoleName" style="margin-left:10px;"></textarea>
	</span>
<br>
<label>$Translate("邮件标题")$：</label><input type="text" name="Title" value="">
<br>
<textarea class="span5" rows="3" cols="60" name="Content" style="margin-left:10px;">$Translate("谢谢您对游戏的支持，本邮件为GM发送的邮件！")$</textarea>
<br>	
<div style="margin:10px 0 0 300px;">
	<input type="submit" class="submit_btn" value="提交"> 
</div>
</form>
 <script language="JavaScript">
 var mails = jQuery.parseJSON('$JsonMail$');
 $(document).ready(function(){
	$(".platformID").chosen({width:"100px",});
	$(".OperationType").chosen({width:"100px",});
	$(".ForbidTime").chosen({width:"100px",});
	$(".hostID").chosen({
		width:'500px',
	});
	$(".platformID").chosen().change(function(){
		var platformID = $(this).val();
		$.post("/servermgr/jsonserverlist",{PlatformID:platformID},function(result){
			var serverList = eval("("+result+")");
			var ServerStr = '<option value="">全部</option>';
			for(id in serverList){
				ServerStr += '<option value="'+id+'">'+serverList[id]+'</option>';
			}
			$(".hostID").html(ServerStr);
			$(".hostID").trigger("chosen:updated");
		});
		if(mails[platformID]){ //需要多语言替换
			$("input[name='Title']").val(mails[platformID].Title);
			$("textarea[name='Content']").html(mails[platformID].Content);
		}else{
			$("input[name='Title']").val("");
			$("textarea[name='Content']").html("谢谢您对游戏的支持，本邮件为GM发送的邮件！");
		}
	});
	$(".OperationType").change(function(){
		var ID = $(this).val();
		if(ID == 1){ //单独发送
			$("#multisend").hide();
			$("#onlysend").show();
		}else{
			$("#multisend").show();
			$("#onlysend").hide();
		}
	});
})
 </script>
#include("include/datatables.html")

</body>
</html>
