<html>
#include("include/inc_header_datatable.html")
<form class="search-box form-inline" id="postForm" method="post" action="/playermgr/doitem">
	<label>平台名称：</label>	
	<select name="PlatformID" class="chosen-select platformID" tabindex="2" data-placeholder="选择平台">
		<option value="">全部</option>
#for ID,Platform in pairs(Platforms) do
		<option value="$ID$" $Options.PlatformID and Options.PlatformID==ID and "selected" or ""$>$Platform$</option>
#end
	</select>
	<label>选择大区：</label>	
	<select name="ServerType">
#for ID,Value in pairs(ServerTypes) do
		<option value="$ID$">$Value$</option>
#end
	</select>
	<label>服名称：</label>	
	<select name="HostID" class="chosen-select hostID" tabindex="2" multiple data-placeholder="选择服">
		<option value="">全部</option>
#for ID,ServerName in pairs(Servers) do
		<option value="$ID$" 
			$Options.HostID and ((Options.HostID==tostring(ID)) or (type(Options.HostID) == "table" and table.member_key(Options.HostID, tostring(ID)))) and "selected" or ""$>
			$ServerName$
		</option>
#end
	</select>
	<br>
	<label>操作方式：</label>	
	<select name="OperationType" class="chosen-select OperationType" tabindex="2" data-placeholder="选择操作方式">
#for ID,Type in pairs(OperationTypes) do
		<option value="$ID$">$Type$</option>
#end
	</select>
	<br>
<span id="plus">
	<span id="multisend" style="display:none;">
		<label>最低等级：</label>
		<input type="text" name="MinLevel" value="">	
		<label>创角时间：</label>
		<input type="text" onclick="WdatePicker({firstDayOfWeek:1,dateFmt:'yyyy-MM-dd', maxDate:'2050-12'})" name="CreateTime">
	</span>
	<span id="onlysend">
		<span style="margin-left:10px;">玩家角色列表，用 分号(;) 来分隔多个角色名 </span>
		<br>	
		<textarea class="span5" rows="3" cols="60" name="RoleName" style="margin-left:10px;"></textarea>
	</span>
	<br>
	<span id="email">
		<label>邮件标题：</label>
		<input type="text" name="Title" value="" id="title">
	</span>
	<br>
	<textarea class="span5" rows="3" cols="60" name="Content" style="margin-left:10px;" id="content">谢谢您对游戏的支持，本邮件为GM发送的邮件！</textarea>
	<br>
	<div id="addItems">
		<div>
			<label style="font-weight:normal;">钻石：</label>
			<input type="text" name="Gold" value="" placeholder="钻石数量...">
			<label style="font-weight:normal;">绑钻：</label>
			<input type="text" name="CreditGold" value="" placeholder="绑钻数量...">
			<label style="font-weight:normal;">金币：</label>
			<input type="text" name="Money" value="" placeholder="金币数量...">
		</div>
		<div>
			<label style="font-weight:normal;">道具：</label>
			<input type="text" name="Item" class="item" value="" placeholder="物品ID...">
			<input type="text" name="Numbers" class="number" value="" placeholder="个数...">
			<img src="/static/image/plus.png" alt="增加道具" title="增加道具" class="add_item"/>
			<img src="/static/image/minus_red.png" alt="删除道具" title="删除道具" class="del_item"/>
		</div>
	</div>
</span>

<span id="minus" style="display:none;">
	<span>
		<span style="margin-left:10px;">玩家角色列表，用 分号(;) 来分隔多个角色名 </span>
		<br>	
		<textarea class="span5" rows="3" cols="60" name="MinusRoleName" style="margin-left:10px;"></textarea>
	</span>
	<br>
	<label>操作容器：</label>	
	<select name="DeductItemType" class="chosen-select DeductItemType" tabindex="2" data-placeholder="选择操作容器">
#for ID,Type in pairs(DeductItemTypes) do
		<option value="$ID$">$Type$</option>
#end
	</select>
	<br>
	<label>道具：</label>
	<input type="text" class="item" name="MinusItem" value="" placeholder="物品ID...">
	<input type="text" name="MinusNumbers" value="" placeholder="个数...">
</span>	
<div style="margin:10px 0 0 300px;">
	<input type="submit" class="submit_btn" value="提交"> 
</div>
</form>
 <script language="JavaScript">
 //获得ItemID
 function getItemID(ItemStr){
	var strArray = ItemStr.split("_");
	if(strArray.length >= 2){
		return strArray[1];
	}else{
		return strArray[0]; //否则返回第一个
	}
 }
 var mails = jQuery.parseJSON('$JsonMail$');
 $(document).ready(function(){
	$(".platformID").chosen({width:"100px",});
	$(".OperationType").chosen({width:"100px",});
	$(".DeductItemType").chosen({width:"100px",});
	$(".hostID").chosen({
		width:'500px',
	});
	
	$(".platformID").chosen().change(function(){
		var platformID = $(this).val();
		$.post("/servermgr/jsonserverlist",{PlatformID:platformID},function(result){
			var serverList = eval("("+result+")");
			var ServerStr = '<option value="">全部</option>';
			for(id in serverList){
				ServerStr += '<option value="'+id+'">'+serverList[id]+'</option>';
			}
			$(".hostID").html(ServerStr);
			$(".hostID").trigger("chosen:updated");
		});
		if(mails[platformID]){ //需要多语言替换
			$("input[name='Title']").val(mails[platformID].Title);
			$("textarea[name='Content']").html(mails[platformID].Content);
		}else{
			$("input[name='Title']").val("");
			$("textarea[name='Content']").html("谢谢您对游戏的支持，本邮件为GM发送的邮件！");
		}
	});
	var availableTags = [$table.concat(ItemStrList, ",")$];
	var oldAvailableTags = [$table.concat(OldItemStrList, ",")$];

	$(".hostID").chosen().change(function(){
		var hostID = $(this).val();
		hostID = hostID + "";
		var hostIDs = hostID.split(",");
		var platformID = $(".platformID").val();
		if(hostIDs[0] != "" && isOldVersion(platformID, parseInt(hostIDs[0]))){
			availableTags = oldAvailableTags;
			$(".item").autocomplete({source: availableTags,minLength: 2});
		}
	});
	$(".OperationType").change(function(){
		var ID = $(this).val();
		if(ID == 1){ //单独发送
			$("#minus").hide();
			$("#plus").show();
			$("#multisend").hide();
			$("#onlysend").show();
		}else if(ID == 2){ //群发
			$("#minus").hide();
			$("#plus").show();
			$("#multisend").show();
			$("#onlysend").hide();
		}else if(ID == 3){ //扣除道具
			$("#minus").show();
			$("#plus").hide();
		}
	});
	
	//添加道具
	$(document).on('click', '.add_item', function() {
		var itemDom = $(this).parent().clone();
		//清空内容
		itemDom.find(".item").val("");
		itemDom.find(".number").val("");
		itemDom.appendTo("#addItems");
		//重新绑定一下事件
		itemDom.find(".item").autocomplete({source: availableTags,minLength: 2});
		//$( ".item" ).on( "autocompletefocus", function( event, ui ) {
		//	var value = getItemID(ui.item.value);
		//	ui.item.value = value;
		//});
	});
	//删除道具
	$(document).on('click', '.del_item', function() {
		//剩余一个不能删除
		if($("#addItems").children().length > 1){
			$(this).parent().remove();
		} 
	});
	$(".item").autocomplete({source: availableTags,minLength: 2});
	//$( ".item" ).on( "autocompletefocus", function( event, ui ) {
	//	var value = getItemID(ui.item.value);
	//	ui.item.value = value;
	//});
	$("#postForm").submit(function(){
		//判断是否选择了平台
		var platformID = $(".platformID").val();
		if(platformID == ""){
			alert("请选择平台！");
			return false;
		}
		var title = $("#title").val();
		if(title == ""){
			alert("请填写邮件标题！");
			return false;
		}
		var content = $("#content").val();
		if(content == ""){
			alert("请填写邮件内容！");
			return false;
		}
	});
})
function isOldVersion(platformID, hostID){
	var limitInfo = {
		"kuwo":62001,
		"hly":62501,
		"8090":61008,
		"53wan":61501,
		"511wan":58522,
		"7477":57003,
		"360":10014,
		"kuaiwan":51015,
		"65wan":60001,
		"pps":15002,
		"sogou":20003,
		"qidian" : 52009,
		"7k7k" : 55003,
		"v1game" : 59509,
		"swjoy" : 50015,
		"yaodou" : 53003,
		"pptv" : 54006,
		"renren" : 57510,
		"37wan" : 45010,
		"kugou" : 30001,
		"baidu" : 25020,
		"xiyou" : 59003,
		"dw" : 1025,
		"ainiwan" : 60501,
		"ufojoy" : 63001,
		"844a" : 58002,
	};
	var limit = limitInfo[platformID];
	if(limit && limit >= hostID){
		return true;  //1.0版本服
	}else{
		return false; //2.0版本服
	}
}
 </script>
#include("include/datatables.html")

</body>
</html>
