<html>
#include("include/inc_header_datatable.html")
#include("include/filter.html")
#if Options.PlatformID and Options.PlatformID ~= "" and Options.HostID and Options.HostID ~= "" then
<div class="tabbable">
	<ul class="nav nav-tabs padding-12 tab-color-blue background-blue">
#for Index,TabName in pairs(TblNames) do
		<li $Index == 1 and 'class="active"' or ''$>
			<a data-toggle="tab" href="#tab_$Index$">$TabName$</a>
		</li>
#end
	</ul>
</div>
<div class="tab-content">
#for Index,TabName in pairs(TblNames) do
	<div id="tab_$Index$" $Index == 1 and 'class="tab-pane in active"' or 'class="tab-pane"'$>
		<table class="dataTable table table-striped table-bordered" style="border-collapse: collapse;width:100%;">
			<thead>
				<tr class="table_head">
					<th>排名</th>
					<th>玩家Uid</th>
#for _,Title in pairs(Titles[TabName].Names) do
					<th>$Title$</th>
#end				
				</tr>
			</thead>
			<tbody>
#for _,Info in pairs(TableData[TabName] or {}) do
				<tr>
					<td nowrap="nowrap">$Info["TopId"] or ""$</td>
					<td nowrap="nowrap">$Info["UserUid"] or ""$</td>
#for _, Key in ipairs(Titles[TabName].Keys) do
					<td nowrap="nowrap">$Info[Key] or ""$</td>
#end
				</tr>
#end
			</tbody>
		</table>
	</div>
#end
</div>
#else
<div class="alert alert-warning" role="alert">请选择平台和服！</div>
#end
 <script>
 $(document).ready(function(){
	$('.dataTable').dataTable({
			"oLanguage":{
				"sProcessing":   "处理中...",
				"sLengthMenu":   "显示 _MENU_ 项结果",
				"sZeroRecords":  "没有匹配结果",
				"sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix":  "",
				"sSearch":       "搜索:",
				"sUrl":          "",
				"oPaginate": {
				"sFirst":    "首页",
				"sPrevious": "上一页",
				"sNext":     "下一页",
				"sLast":     "末页"
				}
			},
		"paging": true,
		"bFilter": false,
		"bLengthChange": false,
		"iDisplayLength": 100,
	});
	
})
</script>
</body>
</html>
