<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
#include("include/inc_header_datatable.html")
<body>
#include("include/inc_position.html")
<script language="JavaScript">
$(document).ready(function(){
	$('#logTable').dataTable({
			"oLanguage":{
				"sProcessing":   "处理中...",
				"sLengthMenu":   "显示 _MENU_ 项结果",
				"sZeroRecords":  "没有匹配结果",
				"sInfo":         "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
				"sInfoEmpty":    "显示第 0 至 0 项结果，共 0 项",
				"sInfoFiltered": "(由 _MAX_ 项结果过滤)",
				"sInfoPostFix":  "",
				"sSearch":       "搜索:",
				"sUrl":          "",
				"oPaginate": {
				"sFirst":    "首页",
				"sPrevious": "上一页",
				"sNext":     "下一页",
				"sLast":     "末页"
				}
			},
		"bFilter": false,
		"bLengthChange": false,

	});
})

function submit_form(id){
	$("#form_"+id).submit();
}

function delete_confirm(name) {
	if(confirm("删除是不可恢复的，你确认要删除"+name+"吗?")){
		window.location.href = "/admin/moduledel?name="+name;
	}
}
</script>
<button class="btn btn-warning" type="button" onclick="window.location.href='/admin/moduleadd'" style="float:right;margin:5px 5px 0 0">添加操作</button>
<form class="search-box" method="GET" action="/admin/modulelist">
	<label>模块名称：</label>	
	<input type="text" name="ModuleName" value="$ModuleName$">
    <input type="submit" class="submit_btn" value="查询">
</form>
<table id="logTable" class="table table-striped table-bordered" style="border-collapse: collapse;width:100%;">
	<thead>
        <tr style="background-color: #f1f1f1;border-bottom: 1px solid #EDF2F7;">
            <th>名称</th>
            <th>location</th>
            <th>处理模块</th>
            <th>处理方法</th>
			<th>所属模块</th>
			<th>适用系统</th>
            <th>操作</th>
        </tr>
    </thead>
	<tbody>
#for id, Module in pairs(Modules) do
	<tr>
	<td>$Module.name$</td>
	<td>$Module.uri$</td>
	<td>$Module.module$</td>
	<td>$Module.procfunc$</td>
	<td>$Module.parent$</td>
	<td>$Module.system$</td>
	<td nowrap="nowrap">
		<div class="visible-md visible-lg hidden-sm hidden-xs action-buttons">
			<a class="blue" href="/admin/moduleadd?name=$Module.name$" title="编辑">
				<i class="icon-pencil bigger-140"></i>
			</a>
			<a class="red" href="#" onclick="delete_confirm('$Module.name$')" title="删除">
				<i class="icon-trash bigger-140"></i>
			</a>
		</div>
	</td>
	</tr>
#end
</tbody>
</table>
</body>
</html>
