<html>
#include("include/inc_header_v2.html")
<body>
<div class="page-header">
	<h3>战区分配列表</h3>
</div> 
<form action="/croservermgr/serviceedit" method=post>
<table class="table table-striped table-bordered table-hover" style="width:80%">
<input type="hidden" name="ID" value="$Service.ID or ''$"/>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">服务名称:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="text" name="Name" value="$Service.ServiceName or ''$">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">默认自分组:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="text" name="NeedSelfGroup" value="$Service.NeedSelfGroup or '1'$">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">接管模块:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="text" name="Module" value="$Service.Module or ''$">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">是否绑定跨服分区:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<select name="BindCroZone">
			<option value ="0" $Service.BindCroZone == 0 and "selected" or ""$>否</option>
			<option value ="1" $Service.BindCroZone == 1 and "selected" or ""$>是</option>
		</select>
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">战区所需开服天数:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<input type="text" name="StartServerDays" value="$Service.StartServerDays or ''$">
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">共享战区服务名称:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<select name="ShareServiceID">
			<option value ="0">请选择</option>
#for id, ServiceName in pairs(ServiceMap) do
			<option value ="$id$" $id == Service.ShareServiceID and "selected" or ""$>$ServiceName$</option>
#end
		</select>
	</td>
</tr>
<tr>
	<td width="20%" height="26" class="td_bg" style="text-align: center;">备注:</td>
	<td width="80%" height="26" style="text-align: left;" class="content">
		<textarea name=Memo cols="30" rows="3">$Service.Memo or ""$</textarea>
	</td>
</tr>
<tr>
	<td colspan="2" class="button content" style="text-align:center;">
		<input type="submit" class="submit_btn" name="submit" value="提交"/> 
	</td>
</tr>
</table>
</form>
</body>
</html>
