<html>

#include("include/inc_header_v2.html")
<body>
#include("include/inc_position.html")
<script language="JavaScript">
function delete_confirm(Address) {
	if(confirm("删除是不可恢复的，你确认要删除机器:"+Address+"吗?")){
		window.location.href="/publishmgr/dodelmachine?address="+Address;
	}
}

function init_confirm(Address) {
	if(confirm("该机器必须先装在receiver脚本，确定已安装，并要初始化机器:"+Address+"吗?")){
		window.location.href="/publishmgr/doinitmachine?address="+Address;
	}
}
</script>
<table id="UnInitTbl" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th colspan=8 style="text-align:left;">未初始化机器</th>
		</tr>
		<tr>
			<th style="text-align: center;">地址</th>
			<th style="text-align: center;">ssh端口</th>
			<th style="text-align: center;">平台</th>
			<th style="text-align: center;">逻辑服数</th>
			<th style="text-align: center;">开启</th>
			<th style="text-align: center;">维护</th>
			<th style="text-align: center;">异常</th>
			<th style="text-align: center;">操作</th>
		</tr>
	</thead>
#for _, Machine in ipairs(MachineList) do
#if Machine.inited == 0 then
#	local MInfo = MachineInfo[Machine.address] or {}
	<tr id="$Machine.address$">
		<form action="/publishmgr/domodmachine" method=post>
		<th style="text-align: center;">$Machine.address$<input type=hidden name=address value=$Machine.address$></th>
		<th style="text-align: center;"><input type=text name=sshport value=$Machine.sshport$></th>
		<th style="text-align: center;">$Platforms[Machine.platformid]$</th>
		<th style="text-align: center;">$MInfo.GameCount or 0$</th>
		<th style="text-align: center;">$MInfo.OnCount or 0$</th>
		<th style="text-align: center;">$MInfo.OffCount or 0$</th>
		<th style="text-align: center;">$MInfo.ErrCount or 0$</th>
		<th style="text-align: center;">
			<input type="submit" class="submit_btn" value="修改">	
			<input type="button" class="submit_btn" onclick="init_confirm('$Machine.address$')" value="初始化">	
			<input type="button" class="submit_btn" onclick="delete_confirm('$Machine.address$')" value="删除">	
		</th>
		</form>
	</tr>
#end
#end
</table>
<table id="InitedTbl" class="table table-striped table-bordered table-hover">
	<thead>
		<tr>
			<th colspan=8 style="text-align:left;">已初始化机器</th>
		</tr>
		<tr>
			<th style="text-align: center;">地址</th>
			<th style="text-align: center;">ssh端口</th>
			<th style="text-align: center;">平台</th>
			<th style="text-align: center;">逻辑服数</th>
			<th style="text-align: center;">开启</th>
			<th style="text-align: center;">维护</th>
			<th style="text-align: center;">异常</th>
			<th style="text-align: center;">操作</th>
		</tr>
	</thead>
#for _, Machine in ipairs(MachineList) do
#if Machine.inited ~= 0 then
#	local MInfo = MachineInfo[Machine.address] or {}
	<tr id="$Machine.address$">
		<form action="/publishmgr/domodmachine" method=post>
		<th style="text-align: center;">$Machine.address$<input type=hidden name=address value=$Machine.address$></th>
		<th style="text-align: center;"><input type=text name=sshport value=$Machine.sshport$></th>
		<th style="text-align: center;">$Platforms[Machine.platformid]$</th>
		<th style="text-align: center;">$MInfo.GameCount or 0$</th>
		<th style="text-align: center;">$MInfo.OnCount or 0$</th>
		<th style="text-align: center;">$MInfo.OffCount or 0$</th>
		<th style="text-align: center;">$MInfo.ErrCount or 0$</th>
		<th style="text-align: center;">
			<input type="submit" class="submit_btn" value="修改">	
			<input type="button" class="submit_btn" onclick="delete_confirm('$Machine.address$')" value="删除">	
		</th>
		</form>
	</tr>
#end
#end
</table>
</body>
</html>
