<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf8">
<head>
<style>
a{text-decoration: none;}
</style>
</head>
<body bgcolor="#438eb9">
	<span style="float:left;margin-left:5px;">
		<h1 style="margin-top:0px;"><font color="#FFFFFF">游戏后台管理系统</font></h1>
	</span>
	<span style="float:right;margin:0 20px 0 0">
		<font color="#FFFFFF">$UserName$，欢迎你！</font>
		<a target="_top" href="/logout">
		<img width="20" height="20" src="/static/image/exit.png">
				<font color="#FFFFFF">退出登录</font>
	</a>
	</span>
	
</body>
</html>
